<h1>Admin: Manage Categories</h1>

<!-- Form for adding new categories -->
<form method="POST" action="{{ url_for('admin_categories') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}: {{ form.name() }}
    </div>
    <div>
        {{ form.description.label }}: {{ form.description() }}
    </div>
    <div>
        {{ form.icon.label }}: {{ form.icon() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

<!-- List of existing categories -->
<ul>
    {% for category in categories %}
        <li>{{ category.name }} - {{ category.description }} - Icon: {{ category.icon }}</li>
    {% endfor %}
</ul>
